.centered{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
.highlight{
    background-color: #fcf8e3;
}
.tm-navbar, .tm-footerbar {
    padding: 15px 0px;
    border: medium none;
    background: none repeat scroll 0% 0% #4C9ED9;
    position: relative;
    margin: -16px -16px 0px !important;
    border-radius: 0;
}
.tm-navbar div, .tm-footerbar div{
    color: #fff;
    text-shadow: none;
    display: block!important;
}
.tm-footerbar{
    padding: 5px 0;
    margin: -25px 0px 0px !important;
}
