<!DOCTYPE html>
<html ng-app="exercicio" lang="pt-br" dir="ltr" class="uk-height-1-1 uk-notouch">
    <head>
        <meta charset="utf-8"/>
        <title>Exercicio</title>
        <!-- LIBS -->
        <link rel="stylesheet" href="./lib/uikit/css/uikit.min.css" />
        <link rel="stylesheet" href="./lib/uikit/css/uikit.almost-flat.min.css" />
        <!-- CSS -->
        <link rel="stylesheet" href="./css/style.css">

        <!-- LIBS -->
        <script src="./lib/angular/angular.min.js"></script>
        <script src="./lib/angular/angular-locale_pt-br.js"></script>
        <script src="./lib/angular/angular-messages.min.js"></script>
        <script src="./lib/angular/angular-messages.min.js.map"></script>
        <!-- APP -->
        <script src="./js/app.js"></script>
        <!-- CONTROLLERS -->
        <script src="./js/controllers/exercicioCtrl.js"></script>
        <!-- SERVICES -->
        <script src="./js/services/usuariosAPIfactory.js"></script>
        <script src="./js/services/operadorasAPIservice.js"></script>
        <script src="./js/services/tokenGeneratorAPIprovider.js"></script>
        <!-- FILTERS -->
        <script src="./js/filters/strConverteCaseFilter.js"></script>
        <script src="./js/filters/strEllipsisFilter.js"></script>

        <!-- CONFIGS -->
        <script src="./js/config/tokenGeneratorConfig.js"></script>
        <script src="./js/constant/config.js"></script>

    </head>
    <body ng-controller="exercicioCtrl" class="uk-height-1-1">
        <div class="uk-vertical-align centered uk-height-1-1">
            <div class="uk-vertical-align-middle">
                <div class="uk-panel uk-panel-box">

                <div ng-include="'view/head.html'"></div>

                    <div ng-include="'./view/messages.html'"></div>

                    <!-- //ao digitar está sendo aplicado um filtro no objeto usuarios -->
                    <div class="uk-form">
                        <div class="uk-form-icon">
                            <i class="uk-icon-search"></i>
                            <input ng-model="inputSearch" class="uk-form-width-large" type="text" placeholder="pesquisar...">
                        </div>
                    </div>

                    <table ng-if="usuarios.length > 0" class="uk-table uk-table-condensed">
                        <caption><h3 class="uk-panel-title"><i class="uk-icon-user"></i> Lista de Usuários</h3></caption>
                        <thead>
                            <tr>
                                <th><input ng-click="checkAllUsuarios(usuarios)" ng-model="checkedAll" type="checkbox"/></th>
                                <th><a href="" ng-click="itemSortBy('nome')">Nome</a></th>
                                <th><a href="" ng-click="itemSortBy('telefone')">Telefone</a></th>
                                <th><a href="" ng-click="itemSortBy('operadora')">Operadora</a></th>
                                <th><a href="" ng-click="itemSortBy('data')">Data</a></th>
                                <th>Token</th>
                            </tr>
                        </thead>
                        <tbody>                           <!--está realizando o filtro apartir do ng-model="inputSearch"-->
                            <tr ng-class="{highlight: item.checked}" ng-repeat="item in usuarios | filter:inputSearch | orderBy:sortOrder:sortDir">
                                <td><input ng-model="item.checked" type="checkbox"/></td>
                                <td>{{item.nome | strConverteCase | strEllipsisFilter:20}}</td>
                                <td>{{item.telefone}}</td>
                                <td>{{item.operadora.codigo+' - '+item.operadora.nome | lowercase}}</td>
                                <td>{{item.data | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.token}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <br />

                    <form class="uk-form" name="usuarioForm">
                        <fieldset data-uk-margin>
                            <legend><h3 class="uk-panel-title"><i class="uk-icon-plus"></i> Cadastro de Usuários</h3></legend>

                            <input ng-model="form.nome" type="text" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10" />
                            <input ng-model="form.telefone" type="text" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\(\d{2}\)\s\d{4,5}-\d{4}$/" />

                            <!--somente no caso da select utilizamos o ng-option para interagir como o ng-repeat-->
                            <select ng-model="form.operadora" name="operadora" ng-options="item.nome + ' ('+ (item.preco | currency) +')' group by item.tipo for item in selectOperadoras track by item.id | orderBy:'tipo'" ng-required="true">
                                <option value="">Selecione</option>
                            </select>

                        </fieldset>
                    </form>

                    <br />

                    <button ng-click="addUsuario(form)" ng-disabled="!usuarioForm.$valid" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Adicionar</button>
                    <button ng-click="copyUsuario(usuarios)" ng-disabled="!isUsuarioChecked(usuarios)" class="uk-button uk-button-success uk-width-1-1 uk-margin-small-bottom">Copiar</button>
                    <button ng-click="removeUsuario(usuarios)" ng-disabled="!isUsuarioChecked(usuarios)" class="uk-button uk-button-danger uk-width-1-1 uk-margin-small-bottom">Remover</button>

                </div>
                <br />
                <div ng-include="'./view/footer.html'"></div>
            </div>
        </div>
    </body>
</html>
